/* Global elements */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-width: 350px;   
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #558b6e;
    color: #fff;
}

.nav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #2f323a;
    border-bottom: 2px solid #1f222a;
}

#logoutBtn {
    float: right;
    margin: 30px;
}

h1 {
    font: 36px sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 29px 29px;
    float: left;
}

h2 {
    font: 30px sans-serif;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

.default {
    font: 12px sans-serif;
    color: #fff
}

.dull {
    font: 12px sans-serif;
    color: #dadada;
}

.actionBtn {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #1f222a;
    border: 1px solid #fff;
    font: 18px sans-serif;
    cursor: pointer;
}

.actionBtn:hover {
    color: #3adf87;
    background-color: #1f222a;
    border-color: #3adf87;
}

.actionBtn:active {
    color: #1aff85;
    background-color: #1f222a;
    border-color: #1aff85;
}

/* page specific elements

